<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} &middot; ATMCS</title>
  <link rel="stylesheet" href="/style.css">
  <link rel='stylesheet' id='google_fonts-css'  href='//fonts.googleapis.com/css?family=Quattrocento%3A400%2C400italic%2C700%2C700italic%7CRaleway%7COpen+Sans&#038;ver=471626b9517a4c54d98ea9ee18e47ce2' type='text/css' media='all' />
</head>